<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>

		<listener class-name="Utility.ListenToCode"></listener>

	</listeners>
	<test thread-count="5" name="Test1">
		<classes>
			<class name="SignIn_Flow_Automation.DataDrivernFromExcel" />
			<class name="SignIn_Flow_Automation.SAI_NAC_Flow" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Test2">
		<classes>
		<class name="SignIn_Flow_Automation.SAI_SAI_DTG_HTO_Flow_Automation_E2E" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->